.tab-list {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 100%;
}

.tab-options {
  background-color: black;
  color: white;
  margin-right: 6px;
  font-family: Roboto, Arial;
  font-size: 15px;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tab-options:hover {
  cursor: pointer;
  background-color: rgb(83, 83, 83);
}

.tab-options:active {
  background-color: white;
  color: black;
}
